h1{
    font-size: 1em;
}


p.Flask-flash{
    color: firebrick
}

label{
    margin-right: 1vw
}

p.Sign{
    margin-top: 10vw;
    font-size: 0.9em;
    color: grey;
}

a{
    color: grey;
    text-decoration-line: none;
}